Data/Cursors
Data/Korean/Movies
Data/Movies
Data/WaterPlane
MSS/
support/
00000000.016
00000000.256
AudioKoreanZH.big
AudioZH.big
BINKW32.DLL
d3d8.cfg
d3d8.dll
dbghelp.dll
DrvMgt.dll
game.dat
Generals.dat
generals.exe
generals.exe.bak
Generals.ico
generals.lcf
GeneralsZH.ico
GensecZH.big
GenToolUpdater.exe
INIZH.big
Install_Final.bmp
KoreanZH.big
langdata.dat
launcher.bmp
Launcher.txt
MapsZH.big
mss32.dll
Music.big
MusicZH.big
P2XDLL.DLL
Patch.doc
patchget.dat
patchw32.dll
PatchZH.big
readme.doc
SECDRV.SYS
ShadersZH.big
SpeechKoreanZH.big
SpeechZH.big
TerrainZH.big
TexturesZH.big
W3DKoreanZH.big
W3DZH.big
WindowZH.big
WindowZH.big.bak
WorldBuilder.exe
*.zip